@import url('https://fonts.googleapis.com/css?family=Arsenal|EB+Garamond');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

a, a:visited, a:active {
	color: #ea1f24;
	text-decoration: none;
	transition: color .2s;
}
a:hover {
	color: #f0f0f0;
}
body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	align-items: center;
	background: linear-gradient(135deg, #ffa84c 0%, #af4b0d 100%);
	color: #f0f0f0;
	display: flex;
	font-family: 'Arsenal', sans-serif;
	font-size: calc(10px + .5vh);
	justify-content: center;
}

h1, h2, h3, h4 {
	font-family: 'EB Garamond', serif;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px
}

.mobiquity {
	background-color: #333;
	background-image: url('resource/img/2.jpg');
	background-size: cover;
	height: 50vh;
	min-height: 300px;
	min-width: 500px;
	width: 80vh;
	opacity: 0;
	overflow: hidden;
	position: relative;
	transform: scale(1.1, 1.1) translateY(30px);
	transition: box-shadow 3s, opacity 1s, transform .5s;
}

.mobiquity::after {
	background-color: rgba(0, 0, 0, .85);
	content: '';
	height: 85%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: rotate(-2deg) translate(-50%, -50%);
	width: 120%;
	z-index: 1;
}

.mobiquity.on {
	box-shadow: 0px 0px 100px rgba(0, 0, 0, .7);
	opacity: 1;
	transform: scale(1, 1) translateY(0px);
}

.mobiquity header {
	align-items: center;
	display: flex;
	height: 20%;
	padding-left: calc(10px + 2vh);
	position: relative;
	z-index: 2;
}

.mobiquity header > h1 {
	font-size: calc(25px + 2vh);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .9);
}

.mobiquity header > img {
	height: calc(20px + 2vh);
	margin-right: 10px;
}

.mobiquity .container {
	display: flex;
	height: calc(70% - 5px);
	overflow: hidden;
	padding: 0px 10px;
	position: relative;
	width: calc(100% - 20px);
	z-index: 2;
}

.mobiquity .container > div:first-child {
	margin-right: 10px;
	width: calc(25% - 10px);
}

.mobiquity .container > div:last-child {
	width: 75%;
}

.mobiquity .container h2 {
	font-size: calc(15px + 1vh);
	padding: 0px 0px 5px calc(7px + .2vh);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .9);
}

.mobiquity .season-list,
.mobiquity .winner-list {
	height: calc(100% - calc(25px + 1vh) - 5px);
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}

.mobiquity .season-list.disabled {
	pointer-events: none;
}

.mobiquity .season-list > li,
.mobiquity .winner-list > li {
	background-color: rgba(255, 255, 255, .15);
	margin-bottom: 1px;
	opacity: 0;
	padding: 8px;
	position: relative;
	transform: translateX(-50px);
	transition: opacity .5s, transform .5s, background-color .3s;
	transition-timing-function: cubic-bezier(0.125, 0.765, 0.225, 0.975);
}

.mobiquity .season-list > li {
	cursor: pointer;
}

.mobiquity .season-list > li:hover,
.mobiquity .season-list > li.selected {
	background-color: rgba(255, 255, 255, .4);
}

.mobiquity .season-list.disabled > li.selected:after {
	animation: loading 1.1s infinite linear;
	content: '\f021';
	font-family: 'FontAwesome';
	right: 10px;
	top: 25%;
	transform: translateY(-50%);
	position: absolute;
}

.mobiquity .season-list > li.on,
.mobiquity .winner-list > li.on {
	opacity: 1;
	transform: translateX(0px);
}

.mobiquity .winner-list > li,
.mobiquity .winner-list > li .details {
	display: flex;
}

.mobiquity .winner-list > li h3 {
	display: inline-block;
	font-size: calc(10px + 1vh);
	position: relative;
}
.mobiquity .winner-list > li.champion h3:after {
	color: #ffa84c;
	content: '\f091';
	font-family: 'FontAwesome';
	font-size: calc(5px + 1vh);
	position: absolute;
	right: -20px;
	top: 3px;
}

.mobiquity .winner-list > li > div:first-child {
	flex-grow: 1;
}
.mobiquity .winner-list > li > div:last-child {
	align-items: center;
	display: flex;
	margin-left: 10px;
}

.mobiquity .winner-list > li .details {
	font-size: calc(8px + .5vh);
	margin-top: 5px;
}

.mobiquity .winner-list > li .details label {
	color: #999;
}
.mobiquity .winner-list > li .details > div:not(:first-child) label {
	padding-left: 10px;
}

@keyframes loading {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
    background: #ea1f24;
    border: 2px #000 solid;
    border-radius: 13px;
}
*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .5);
}
